<!-- views/auth/sign-up.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sign Up</title>
  <link rel="stylesheet" href="/css/auth/sign-up.css">
</head>
<body>
  <div class="container">
    <h1>Register</h1>
    <p>Create your unique username to get started</p>
    <form action="/auth/sign-up" method="POST">
      <input type="text" name="username" id="username" placeholder="Username" required />
      <p>Set a strong password for your account</p>
      <input type="password" name="password" id="password" placeholder="Password" required />
      <input 
        type="password"
        name="confirmPassword"
        id="confirmPassword"
        placeholder="Confirm Password"
        required 
      />
      <button type="submit">Submit</button>
    </form>
    <div class="login-link">
      <p>If you already have an account</p>
      <a href="/auth/sign-in">Log in</a>
    </div>
  </div>
</body>
</html>
