<!-- partials/header.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Binge Binder</title>
</head>
<body>
<h2>Binge Binder</h2>
<% if (user) { %>
  <h2><%= user.username %></h2>
  <a href="/auth/sign-out">Sign Out</a>
<% } %>
</body>
</html>
