<link rel="stylesheet" href="/css/nav.css">
<header class="header">
  <nav class="navigation">
    <button class="menu-toggle" id="menu-toggle">
      ☰
    </button>
    <ul id="menu">
      <li><a href="/cinemas/dashboard">My Binder</a></li>
      <li><a href="/users/community">Community</a></li>
      <li><a href="/cinemas/newmovie">Add Movie</a></li>
      <li><a href="/cinemas/newtv">Add TV Show</a></li>
    </ul>
  </nav>
  <img src="/images/binge-binder-logo.png" alt="Binge Binder Logo" style="width: 40px; height: 40px;">
  <h2 class="logo">Binge Binder</h2>
  <% if (loggedInUser) { %>
    <div class="user-info">
      <h2 class="username"><%= loggedInUser.username %></h2>
      <form action="/auth/sign-out" method="GET" class="sign-out-form">
        <button type="submit" class="sign-out-button">Sign Out</button>
      </form>
    </div>
  <% } %>
</header>
<script src="/js/menu.js"></script>