<nav>
    <ul>
        <li><a href="/cinemas/dashboard">My Binder</a></li>
        <li><a href="/users/community">Community</a></li>
        <li><a href="/cinemas/newmovie">Add Movie</a></li>
        <li><a href="/cinemas/newtv">Add TV Show</a></li>
    </ul>
</nav>
