<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Binge Binder!</title>
    <link rel="stylesheet" href="/css/landing.css">
</head>
<body>
    <header>
        <h1>Welcome to Binge Binder!</h1>
    </header>
    <main>
        <div class="intro">
            <img src="/images/binge-binder-logo.png" alt="Binge Binder Logo" style="width: 200px; height: auto;"> 
            <p>Sign up or login to track your TV Shows and Movies</p>
            <div class="buttons">
                <a href="/auth/sign-up"><button>Sign up</button></a>
                <a href="/auth/sign-in"><button>Log in</button></a>
            </div>
        </div>
    </main>
</body>
</html>
