body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #FFFFFF;
}

.header {
    width: 100%;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #FFFFFF;
}

.community-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
}

.community-entry {
    background-color: #2e2e2e;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.community-entry h2, .community-entry h3 {
    margin: 0;
    margin-bottom: 0.5rem;
    color: #FFFFFF;
}

.community-entry p {
    margin: 0.5rem 0;
    color: #CCCCCC;
}

.community-entry a {
    color: #ff4757;
    text-decoration: none;
    font-weight: bold;
}

.community-entry a:hover {
    text-decoration: underline;
}

.review {
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #454545;
    padding: 10px;
}


@media (max-width: 600px) {
    .container {
        padding: 1rem;
        margin: 1rem;
        max-width: 90%;
    }

    h1 {
        font-size: 2rem;
    }

    .community-grid {
        gap: 1rem;
    }

    .community-entry {
        padding: 1rem;
    }

    .community-entry h2, .community-entry h3 {
        font-size: 1.2rem;
    }

    .community-entry p {
        font-size: 1rem;
    }

    .review {
        padding: 0.5rem;
    }
}